<div class="ata-footer clearfix mt-3">
  <div class="col-lg-10 offset-lg-1">
    <div class="row">
      <div class="row">
        <div class="col-lg-8 pt-3 pb-3">
          <div class="d-flex  align-items-center mt-3 mb-3">
            <img src="assets/img/atalante/pictos/visa.svg" height="35" class="pr-2 pl-2" style="padding-right: 1%;">
            <img src="assets/img/atalante/pictos/mastercard.svg" height="35" class="pr-2 pl-2" style="padding-right: 1%;">
            <div class="align-middle pl-3" id="transaction-secure">
              <img src="assets/img/atalante/pictos/padlock.svg" height="24" class="align-middle pr-2">
              <span class="ata-footer-small-title " style="padding-left: 10px;">Transaction sécurisée</span>
            </div>
          </div>
          <p class="p-4 ata-footer-text">Parce que la protection de vos données est importante pour nous, nous nous sommes dotés du système "3D Secure" qui nécessite que vous ayez votre smartphone à portée de main lorsque vous effectuez un paiement. Lorsque vous effectuez votre règlement, un SMS vous arrive avec un code à 6 chiffres à entrer sur notre encart de paiement sécurisé OGONE.</p>
        </div>
        <div class="col-lg-4 pt-3 pb-3">
          <div class="ata-footer-sidebar p-3 mr-lg-3 m-3">
            <p class="ata-footer-small-title">Besoin d'aide ?<br/>Une question ?</p>
            <p class="ata-footer-text">Nos conseillers voyages sont à votre disposition du lundi au samedi de 9h à 18h.</p>
            <div class="text-center mb-3"><a class="btn btn-yellow my-2 my-sm-0 ata-phone" href="tel:+33481685560">04 81 68 55 60</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>