#ata-header {
    box-shadow: -.1rem 0 .5rem .1rem #ccc;
    width:100vw;
    position:relative;
    left:0px;
    padding-right:20px;
}
#ata-nav {
    flex-grow: 0;
}

#ata-main-nav {
    padding: 0 1rem;
}
#ata-nav {
    /*flex-grow: 0;*/
}
.navbar-brand > img{
    margin-left:20px;
}
#ata-img-header{
    background-image: url("../img/atalante/header.jpg");
    background-position: center center;
    background-size: cover;
    height: 300px;
    color: var(--blanc);
    font-weight: 900;
    font-size: 2.8rem;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    padding-top: 50px;
}
.ata-aide {
    color: var(--gris);
    font-size: 1.1rem;
    font-weight: 400;
    text-decoration: none;
    padding-right:10px;
}

.ata-aide .fa-info{
    transform: rotate(0deg);
    margin-right: 10px;
    margin-left: 10px;
}

.ata-phone {
    color: var(--jaune);
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
}

.ata-phone .fa-phone{
    transform: rotate(90deg);
    margin-right: 10px;
    margin-left: 10px;
}

.ata-aide:hover, .ata-phone:hover{
    color: var(--hover);
    text-decoration: none;
}

.ata-nav .navbar-nav .ata-phone{
    float: right;
}

.ata-main-container{
    padding-left: 20px;
}

.ata-sidebar-container {
    background-color: var(--blanc);
    border: .1rem solid var(--gris);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height:auto;
    overflow: hidden;
}
.ata-sidebar-container.sticky-top {
    top: 1.5rem;
    right: 0.5rem;
}
#ata-img-sidebar-header{
    background-image: url("../img/atalante/header.png");
    background-position: center center;
    background-size: cover;
    height: 200px;
    color: var(--blanc);
    /*display: -webkit-flex;*/
    /*align-items: center;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*-webkit-align-items: center;*/
    padding:20px
}

.ata-sidebar-title {
    color: var(--jaune);
    font-size: 1.2rem;
    text-transform: uppercase;
}

.ata-sidebar-line {
    padding: .5rem 0;
    border-bottom: .05rem solid #CECECE;
}

.ata-sidebar-total {
    box-shadow: 0 .1rem .5rem #ccc;
    border: .1rem solid #fff/*rgba(255, 255, 255, .8)*/;
    margin: 0 -.1rem;
}

.ata-passenger-bloc {
    background-color: var(--blanc);
    border: 1px solid var(--jaune);
    border-radius: 25px;
}

.ata-passenger-type {
    background-color: var(--jaune);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    color: #ffffff;
    font-weight: bold;
    padding:10px;
}

.ata-passenger-info .row .form-group {
    padding: 2px 10px;
}

.ata-passenger-info {
    margin:0px;
    padding: 10px;
}

.ata-passengers-container * select, .ata-passengers-container * input, .ata-passengers-container * textarea {
    border-radius:15px;
    border: 1px solid var(--jaune);
    font-size: 0.8rem;
}
.ata-passengers-container * select:hover, .ata-passengers-container * input:hover {
    border-radius:15px;
}

.form-group > input, .form-group > select, .form-group > textarea{
    font-size: 0.8rem !important;
}
.form-group > textarea {
    border-radius:15px;
    border: none;
    width: 100%;
    height:50px;
    padding:5px 10px;
}

.ata-info-trip-value {
    font-weight: 700;
    min-width:30%;
}

.d-lg-none * .ata-info-trip-value {
    font-weight: 700;
    width:50%;
    text-align:left;
}

.ata-text-info, a {
    color: var(--jaune);
}

a.ata-text-link {
    color: #707070;
}

.ata-paiement-title-container {
    width: 100%;
    color: #ffffff;
    padding: 8rem 0;
    /*background: url('http://placehold.it/1500x500') 100%;*/
}
.ata-paiement-title {
    font-size: 3.75rem;
}
.ata-paiement-subtitle {
    text-transform: uppercase;
    font-size: 1.1rem;
}

div#page-container section{
    height: calc(100vh - 1027px);
    padding-bottom:50px;
}

.ata-footer {
    background-color: var(--vert);
    color: #fff;
    width: 100vw;
    height:300px;
    overflow :hidden;
    position:relative;
    top: 300px;
}

.ata-footer-text {
    font-size: 0.9rem;
}

.ata-footer-small-text {
    font-size: 0.5rem;
}

.ata-footer-sidebar {
    background-color: var(--vert);
    border-radius: 1rem;
}

.ata-footer-sidebar-title {
}

.btn-yellow{
    color: var(--vert);
    background-color: var(--hover);
    border-color: var(--hover);
}
.btn-yellow:hover{
    color: var(--vert);
    background-color: var(--jaune);
    border-color: var(--hover);
}

.ata-footer-small-title{
    color: var(--hover);
    font-size: 1.2rem;
    font-weight: 900;
}

.row {
    margin: 0 0 0 0;
}
.ata-step-title-container {
    /*background: no-repeat url("../img/symboles.png") #EFDBC8 80% 50% / 20%;*/
    border: 1px solid var(--jaune);
    width: calc(100vw - 50px);

    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    /*height: 60px;*/
    overflow-x: hidden;
    line-height: 1rem;
    font-size: 1.1rem;
    font-weight: 900;
    color: var(--vert);
    font-style: italic;
    vertical-align: center;
}

@media (min-width: 992px) {
    .ata-step-title-container {
        position: relative;
        width: calc(100vw - 50px);
        /*margin-left: 5px;*/
        /*margin-right: -15px;*/
    }
    .ata-step-container {
        min-height: 900px;
        position: static;
    }
    .ata-sidebar {
        top: 1.5rem;
        right: 1rem;
    }
}